{% extends "base_site.html" %}
{% load static %}

{% block title %}{% block jumbotron_title %}Secretariat{% endblock %} | {{ block.super }}{% endblock %}

{% block page_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'pages/css/secretariat.css' %}">

  <style>.jumbotron {
    background-image: url('{% static 'pages/images/headers/round-table.jpg' %}');
  }</style>
{% endblock %}

{% block content %}

  <div class="container content">
    {% for staffer in staff %}
      <div class="row bio">
        <div class="col-md-6 text-center align-self-center">
          <img src="{% if staffer.picture %}{{ staffer.picture.url }}
                    {% else %}{% static 'pages/images/default.jpg' %}{% endif %}"
               class="img-fluid rounded-circle">
        </div>
        <div class="col-md-6">
          <h2 class="row text-center">{{ staffer.name }}</h2>
          <div class="letter-border"></div>
          <h4 class="row text-center">{{ staffer.secretariat_position.0 }}</h4>
          <p>{{ staffer.bio }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}