/* Ordered by line of first use. */


/* CLASS SETTINGS
   ============================= */

/* Embedded PDF */
.content iframe {
  display: block;
  height: 844px;
  margin: 0 auto;
  width: 80%;
}